@model WebApp.Controllers.CommonController.ZzSubmitModel
@{
    ViewBag.Title = "ZzSubmit";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<section class="content" style="background-color: #ecf0f5;">
    <div class="row">
        <div class="col-md-12">
            <!-- The time line -->
            <ul class="timeline">
                <!-- 工作流当前任务-Star -->
                <!-- timeline item -->
                <li class="time-label">
                    <span class="bg-green">
                        当前任务：工程计划提报，确认工程管理单位
                    </span>
                </li>
                <!-- /.timeline-label -->
                <!-- timeline item -->
                <li>
                    <i class="fa fa-camera bg-purple"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o">@ViewBag.curtime</i>当前用户：@ViewBag.curuser</span>
                        <h3 class="timeline-header"><span class="lead" style="color:red">工程计划提报</span></h3>
                        <div class="timeline-body">
                            <form class="form-horizontal" role="form">
                                <input type="text" id="wef_id" hidden="hidden" value="@ViewBag.WF_NAME">
                                @*                                <div class="form-group">
                                        <label class="col-sm-2 control-label">申请时间</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-clock-o"></i>
                                                </div>
                                                <input type="text" class="form-control" id="submit_time" onclick="getCurrentTime()">
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>*@
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">申请车间</label>
                                    <div class="col-sm-10">
                                        <select class="form-control select2" style="width: 100%;" id="cjname" onchange="list_Zz()">
                                            <option value="">请选择</option>
                                            @if (Model.UserHasEquips != null)
                                            {
                                                foreach (var item in Model.UserHasEquips)
                                                {
                                                    <option value="@item.EA_Id">@item.EA_Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">申请装置</label>
                                    <div id="Zz_Select" class="col-sm-10">
                                        <select class="form-control select2" style="width: 100%;" id="zzId" onchange="Zz_selected()">
                                            <option value="">请选择</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">项目号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="Plan_Order">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">项目名称</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="Plan_Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">设备工艺编号</label>
                                    <div id="Equip_Select" class="col-sm-10">
                                        <select class="form-control select2" style="width: 100%;" id="Equip_GyCode" onchange="Equip_selected()">
                                            <option value="">请选择</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">设备编号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="E_Code" disabled="">
                                    </div>
                                </div>
                               
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">工程管理单位</label>
                                    <div id="CM_Department" class="col-sm-10">
                                        <select class="form-control select2" style="width: 100%;" id="CM_Department">
                                            <option value="">请选择</option>
                                            <option value="机动处">机动处</option>
                                            <option value="工程处">工程处</option>
                                        </select>
                                    </div>
                                </div>
                        
                            </form>

                         

                            <form role="form">
                                <div class="box-footer">
                                    <button class="btn btn-primary col-sm-offset-2" type="button" onclick="submit_click(0)">确定提交</button>
                                    <button class="btn btn-primary col-sm-offset-1" type="button" onclick="cancel_click()">取消提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <!-- END timeline item -->
                <!-- timeline item -->
                <!-- 工作流当前任务-End -->
            </ul>
        </div>
    </div>

</section>

@section js{
    <!-- Page script -->
    <script src="~/Plugins/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/myFormValidator.js"></script>
    
    <script>
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
            getCurrentTime();


        });

        function getCurrentTime() {
            var mydate = new Date();
            var t = mydate.toLocaleString();
            $("#submit_time").val(t);

        };
        function list_Zz() {
            if ($('#cjname').val() != "") {
                $.ajax({
                    url: '/Common/Cj_Zzs',
                    dataType: 'json',
                    type: 'post',
                    data: { "cj_id": $('#cjname').val() },
                    success: function (backdata) {
                        if (backdata) {
                            var itemHtml = "<option value=\"\">" + "请选择" + "</option>";
                            for (var i = 0; i < backdata.length; i++) {
                                itemHtml = itemHtml + "<option value=\"" + backdata[i].Zz_Id + "\">" + backdata[i].Zz_Name + "</option>";
                            }
                            $('#zzId').html(itemHtml);
                        }
                        else {
                            alert("error!!!");
                        }
                    }
                })
            }
        };

        function Zz_selected() {
            if ($('#zzId').val() != "") {
                $.ajax({
                    url: '/Common/Zz_Equips',
                    dataType: 'json',
                    type: 'post',
                    data: { "Zz_id": $('#zzId').val() },
                    success: function (backdata) {
                        if (backdata) {
                            var itemHtml = "<option value=\"\">" + "请选择" + "</option>";
                            for (var i = 0; i < backdata.length; i++) {
                                itemHtml = itemHtml + "<option value=\"" + backdata[i].Equip_Id + "\">" + backdata[i].Equip_GyCode + "</option>";
                            }
                            $('#Equip_GyCode').html(itemHtml);
                        }
                        else {
                            alert("error!!!");
                        }
                    }
                })
            }
        };
        function Equip_selected() {
            if ($('#Equip_GyCode').val() != "") {
                $.ajax({
                    url: '/Common/ListEquip_Info',
                    dataType: 'json',
                    type: 'post',
                    data: { "Equip_Id": $('#Equip_GyCode').val() },
                    success: function (backdata) {
                        if (backdata) {
                            $("#E_Code").val(backdata[0].Equip_Code);
                            $("#E_Type").val(backdata[0].Equip_Type);

                            $("input:radio[name='zyoptionsRadiosinline']").each(function () {
                                $(this).val() == backdata[0].Equip_Specialty ? $(this).attr("checked", "checked") : null;
                            })

                            $("input:radio[name='subzyoptionsRadiosinline']").each(function () {
                                $(this).val() == backdata[0].Equip_PhaseB ? $(this).attr("checked", "checked") : null;
                            })
                        }
                        else {
                            alert("error!!!");
                        }
                    }
                }
                )
            }
        };

        var submit_done = 1;
        function submit_click(k) {
            submit_done = k;
            if (!myValidation())
                return false;
            if (!confirm('确定要提交吗？'))
                return false;

            var flow_name = $("#wef_id").val();
            //alert(flow_name);
            //alert($('#inputfile').val());
            $.ajax({
                type: 'POST',
                url: '/A4dot3/Plan_submitsignal',
                data: {
                    json1: '{Flow_Name: "' + flow_name
                         + '", Cj_Name: "' + $('#cjname').find("option:selected").text()
                         + '", Zz_Name: "' + $('#zzId').find("option:selected").text()
                         + '", Plan_Order: "' + $('#Plan_Order').val()
                          + '", Plan_Name: "' + $('#Plan_Name').val()
                         + '", Equip_GyCode: "' + $('#Equip_GyCode').find("option:selected").text()
                         + '", Equip_Code: "' + $('#E_Code').val()
                          + '", CM_Department: "' + $('#CM_Department').find("option:selected").text()
                    
                         + '"}'
                },
                success: function (data) {
                    location.href = data;
                },
                error: function () {
                    alert('error');
                }
            });

        };

        function cancel_click() {
            submit_done = 0;
            if (!confirm('确定要取消吗？'))
                return false;

            var wef_id = $("#wef_id").val();
            var return_url = "/A4dot3/Index";
            $.ajax({
                type: 'POST',
                url: '/Common/CancelSubmit',
                data: {
                    json1: '{wef_id: "' + wef_id
                         + '", return_url: "' + return_url
                         + '"}'
                },
                success: function (data) {
                    location.href = data;
                },
                error: function () {
                    alert('error');
                }
            });
        };

   
      

        window.onbeforeunload = function () {//离开当前页面触发//火狐可用

            if (submit_done == 1) {
                //   alert("1");
                qx();
            }
        }


        window.onunload = function () {//谷歌可用

            if (submit_done == 1) {
                //  alert("2");
                qx();
            }

        }
        function qx() {


            var wef_id = $("#wef_id").val();
            var return_url = "/A4dot3/Index";
            $.ajax({
                type: 'POST',
                url: '/Common/CancelSubmit',
                async: false,
                data: {
                    json1: '{wef_id: "' + wef_id
                         + '", return_url: "' + return_url
                         + '"}'
                },
                success: function (data) {


                    location.href = data;

                },
                error: function () {
                    alert('error');
                }
            });




        }
   

    </script>
}



