
@{
    ViewBag.Title = "Application";
}

<div>
    @using (Html.BeginForm("submitsignal", "Holiday")) { 
    @Html.TextBox("WF_Name")
    @Html.TextArea("reason")
    <br>
    <input type="submit" value="提交"/>
    }
</div>

