@model WebApp.Controllers.MainController.homemodel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content">
    <div class="row">
        @if (Model.q_cunzai[0] == 1)
        {
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text" id="9"><b>快捷入口</b></span>
                        <span class="info-details"><b></b></span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <a class="link-black" id="1">
                            功能菜单入口
                        </a>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box 1-->
            </div>
        }
        @if (Model.q_cunzai[1] == 1)
        {
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-yellow">

                    <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text" id="10">快捷入口</span>
                        <span class="info-box-text"><b></b></span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <a class="link-black" id="2">
                            功能菜单入口
                        </a>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box2 -->
            </div>
        }
        @if (Model.q_cunzai[2] == 1)
        {
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-aqua">

                    <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text" id="11">快捷入口</span>
                        <span class="info-box-text"><b></b></span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <a class="link-black" id="3">
                            功能菜单入口
                        </a>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box3 -->
            </div>
        }
        @if (Model.q_cunzai[3] == 1)
        {
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-fuchsia">

                    <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text" id="12">快捷入口</span>
                        <span class="info-box-text"><b></b></span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <a class="link-black" id="4">
                            功能菜单入口
                        </a>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box 4-->
            </div>
        }
    </div>
    <div class="row">
        @if (Model.q_cunzai[4] == 1)
        {
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-maroon">

                    <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text" id="13"><b>快捷入口</b></span>
                        <span class="info-box-text"><b></b></span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <a class="link-black " id="5">
                            功能菜单入口
                        </a>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box 5-->
            </div>
        }
        @if (Model.q_cunzai[5] == 1)
        {

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-black">

                    <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text" id="14">快捷入口</span>
                        <span class="info-box-text"><b></b></span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <a class="link-black " id="6">
                            功能菜单入口
                        </a>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box6 -->
            </div>
        }
        @if (Model.q_cunzai[6] == 1)
        {
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-orange-active">

                    <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text" id="15">快捷入口</span>
                        <span class="info-box-text"><b></b></span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <a class="link-black " id="7">
                            功能菜单入口
                        </a>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box7 -->
            </div>
        }
        @if (Model.q_cunzai[7] == 1)
        {
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-red">

                    <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text" id="16">快捷入口</span>
                        <span class="info-box-text"><b></b></span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <a class="link-black" id="8">
                            功能菜单入口
                        </a>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box8 -->
            </div>
        }
    </div>
    <input type="button" class="btn btn-info" onclick="re_table()" value="刷新待处理任务列表" />

    <div class="row">
        <div class="col-md-12" id="table_show">

            <div class="box-body table-responsive no-padding">
                <div class="row">
                    <div class="col-xs-12">
                        <table id="example1" class="table table-hover table-bordered">

                            <thead>
                                <tr>
                                    <th>业务流水号</th>
                                    <th>设备工艺编号</th>
                                    <th>工作流名称</th>
                                    <th>待处理任务描述</th>
                                    <th>业务送达时间</th>
                                    <th>业务截止时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>

         
            @*<div class="box">
                <div class="box-header">
                    <p class="box-title " style="font:bold; color:red">提醒任务列表</p>

                </div>
                <div class="box-body table-responsive no-padding">
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="example2" class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>时间</th>
                                        <th>流程名称</th>
                                        <th>任务说明</th>
                                        <th>操作</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @if (Model.A7dot1Isdone=="false") { 
                                       <tr>
                                        <td>每周四</td>
                                        <td>A7.1-三检特护及状态监测</td>
                                        <td>提报三检特护记录</td>
                                        <td><button type="button" onclick="Create1()" class="btn btn-primary">处理</button></td>
                                    </tr>
                                    }
                                 @if (Model.A6dot2Isdone == "true")
{
    <tr>
        <td class="Rhgl">每月20日</td>
        <td class="Rhgl">A6.2-润滑管理</td>
        <td class="Rhgl">提报机组润滑管理</td>
        <td><button type="button" onclick="Create2()" class="btn btn-primary">处理</button></td>
    </tr>
}
@if (Model.A6dot2SjFile == "true")
{
    <tr>
        <td class="Sjzx">每月27日</td>
        <td class="Sjzx">A6.2-润滑管理</td>
        <td class="Sjzx">设监中心上传化验结果文件</td>
        <td><button type="button" class="btn btn-primary" onclick="A6dot2Sj()">处理</button></td>
    </tr>
}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
               
            </div>*@

     


        </div>


        <div class="col-md-4" id="sidebar"> </div>

    </div>

</section>

<!--参数显示模态框开始处-->
<div class="modal fade" id="ParamModal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">相关参数显示</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body" id="ParamDiv">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>

            </div>
        </div>

    </div>

</div>
<!--参数显示模态框结束处-->
<!--设备信息显示模态框开始处-->
<div class="modal fade" id="EquipInfoModal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">设备相关信息</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body" id="EquipInfoDiv">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>
            </div>
        </div>

    </div>

</div><!--设备信息显示模态框结束处-->
@section js{
    <script src="~/Plugins/jquery.ba-resize.js"></script>

    <!-- Page script -->
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/myFormValidator.js"></script>
    <link href="~/Plugins/AdminLTE/plugins/bootstrap-treeview/bootstrap-treeview.min.css" rel="stylesheet" />
    <script src="~/Plugins/AdminLTE/plugins/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <script src="~/Scripts/myWorkFlowInfo.js"></script>
<style>
    th {
        white-space: nowrap;
        text-align: left;
    }
</style>
    <style>
        .odd {
            background-color: #E7FEF6;
        }

        .even {
            background-color: #E6E7FF;
        }
    </style>
    <script>
        $(function () {
            $("thead").css("background", "#7CCD7C");
            //$("#example1 tr:odd").css("background-color", "#e6e6fa");
            //$("#example1 tr:even").css("background-color", "#fff0fa");
            // $("example1 tbody tr").addClass("info");

            //alert($("#Person_Id").text());
            $.ajax({
                url: '/QuickEntrance/GetQE_InfobyPerson',
                dataType: 'json',
                type: 'post',
                //data: { "p_id": $("#Person_Id").text() },
                success: function (data) {

                    //alert("进来了");
                    // alert(data[0].menuname);
                    //$('#1').text(data[0].menuname);
                    for (var i = 0; i < data.length; i++) {
                        var n_id = i + 1;
                        var q_id = i + 9;
                        $("#" + q_id + "").text("快捷入口" + data[i].qe_id);
                        $("#" + n_id + "").text(data[i].menuname);
                        $("#" + n_id + "").attr("href", data[i].menulink);
                    }
                },
                error: function (error) {

                    console.log(error);
                }
            })
        });

    </script>
    <script>
        //function PageLoad() {
        //    $("#example1").DataTable({
        //        "oLanguage": {
        //            "sLengthMenu": "每页显示 _MENU_ 条记录",
        //            "sZeroRecords": "抱歉， 没有找到",
        //            "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
        //            "sInfoEmpty": "没有数据",
        //            "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
        //            "sZeroRecords": "没有检索到数据",
        //            "sSearch": "模糊查询:  ",
        //            "sProcessing": "<img src='/images/loading.gif'>  努力加载数据中.",
        //            "oPaginate": {
        //                "sFirst": "首页",
        //                "sPrevious": "前一页",
        //                "sNext": "后一页",
        //                "sLast": "尾页"
        //            }
        //        },


        //        "ajax": {

        //            "url": "/Main/ListMission_zxh",
        //            "type": "POST"

        //        },
        //        columns: [

        //              {
        //                  data: 'wfe_serial',

        //                              "render": function (data, type, full, meta) {

        //                                  return ' <button type="button" onclick=\"DispalsySide('+full.wfe_serial+')\">'+full.wfe_serial+'</button> ';
        //    }



        //              },
        //              { data: 'WF_Name' },
        //              { data: 'MISS_Name' },
        //              { data: 'time' },
        //               {
        //                   //data: 'wfe_serial',

        //                    "render": function (data, type, full, meta) {

        //                        return '<a  href='+ full.MISS_Url + '><button type="button" class="btn btn-primary" >处理</button></a>';
        //    }




        //               }
        //        ],

        //      //  columnDefs: [
        //      // {
        //      //    targets:-1,
        //      //    orderable: false,
        //      //    mRender: function (data) {
        //      //        return "<a target='_blank' href='index_company_view.jsp?company_id=" +wfe_serial + "'>" +wfe_serial + "</a>";

        //      //    //return  "<button type='button' class='btn btn-primary' onclick='DispalsySide('" +full.wfe_serial + "')' >处理</button>";
        //      //    }
        //      //}

        //      //  ],
        //        "paging": true,
        //        "lengthChange": false,
        //        "searching": false,
        //        //"ordering": true,
        //        "info": true,
        //        "autoWidth": false,
        //        "aoColumnDefs": [{ "bSortable": false, "aTargets": [1, 2, 4] }]
        //    });


        //    //$.ajax({
        //    //    url: '/Main/ListMission_zxh',
        //    //    dataType: 'json',
        //    //    type: 'post',
        //    //    success: function (backdata) {
        //    //        if (backdata) {
        //    //            $('#Mission_Menu').html("");
        //    //            //$('#Miss_Num').html("你有" + backdata.length + "件操作");
        //    //            //$('#Miss_Num_Small').html(backdata.length);
        //    //            for (var i = 0; i < backdata.length; i++) {
        //    //                var itemHtml = "<tr>" +
        //    //                       //    "<a onclick=\" $('#runtime').attr('src', '" + backdata[i].MISS_Url + "'); \" href=\"javascript:void(0);\">" +
        //    //                            "   <td >" +
        //    //                            "     " + (i + 1) +
        //    //                            "   </td>" +
        //    //                            "   <td>" +
        //    //                            "       " + backdata[i].WF_Name +
        //    //                            "   </td>" +
        //    //                            " <td> " + backdata[i].time + "</td>" +


        //    //                          "<td>" + "<button onclick=\"DispalsySide('"+backdata[i].wfe_serial+"')\">" + backdata[i].wfe_serial + "</button>" +
        //    //                      //  " <td> " + backdata[i].wfe_serial + "</td>" +
        //    //                            "   <td>" + backdata[i].MISS_Name + "</td>" +
        //    //                               "   <td>" + "<a  href=\" " + backdata[i].MISS_Url + "\"><button>处理</button></a>" +

        //    //                                  "</td>" +

        //    //                            "</tr>";

        //    //                $('#Mission_Menu').append(itemHtml);
        //    //                //  $('#example1').append(itemHtml);
        //    //            }
        //    //        }
        //    //        else {
        //    //            alert("增加失败");
        //    //        }
        //    //    },
        //    //    error: function (error) {
        //    //        console.log(error);
        //    //    }
        //    //});
        //};
        $(document).ready(function () {
         //   var str = "今天是星期" + "日一二三四五六".charAt(new Date().getDay());
        //    alert(str);
            var now = new Date();//几天时间

            var year = now.getFullYear();//年

            var month = now.getMonth();//月

            var date = now.getDate();//日
            //if (date != "20") {
            if (date > "26") {
                $(".Rhgl").css("color", "red");

            }
            if (date > "30") {
                $(".Sjzx").css("color", "red");

            }

            $("#example1").DataTable({
                "oLanguage": {
                    "sLengthMenu": "每页显示 _MENU_ 条记录",
                    // "sZeroRecords": "抱歉， 没有找到",
                    "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                    "sInfoEmpty": "没有数据",
                    "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                    "sZeroRecords": "没有检索到数据",
                    "sSearch": "模糊查询:  ",
                    "sProcessing": "<img src='/images/loading.gif'>  努力加载数据中.",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前一页",
                        "sNext": "后一页",
                        "sLast": "尾页"
                    }
                },


                "ajax": {

                    "url": "/Main/ListMission_zxh",
                    "type": "POST"

                },
                columns: [

                      {
                          data: 'wfe_serial',

                          "render": function (data, type, full, meta) {
                              if (full.lsh_xy == "1") {
                                  return ' <a style=\"cursor:pointer\";  onclick=\"showSide(' + full.wfe_serial + ')\">' + full.wfe_serial + '</a> ';
                              }
                              else 
                                  return '<p  >' + full.wfe_serial + '</p>';

                          }



                      },
                         { data: 'sbCode' },
                      { data: 'WF_Name' },
                      { data: 'MISS_Name' },
                      { data: 'time' },
                        {
                            "render": function (data, type, full, meta) {
                                if (full.endtime != "") {
                                    return '<p  style="color:red">'+full.endtime+'</p>';
                                }
                                else
                                    return '';
                            }
                        },

                         {


                             "render": function (data, type, full, meta) {
                                 if (full.WF_Name == "月度计划人工提报" || full.WF_Name == "计划管理")
                                     return '<a  href="/A14dot3/Index"><button type="button" class="btn btn-primary" >处理</button></a>';
                                 else
                                     return '<a  href=' + full.MISS_Url + '><button type="button" class="btn btn-primary" >处理</button></a>';
                             }




                         }
                ],
                "bProcessing": true,
                "paging": true,
                "lengthChange": false,
                "searching": false,
                //"ordering": true,
                "info": true,
                "autoWidth": false,
                "aoColumnDefs": [{ "bSortable": false, "aTargets": [1, 2] }],
                "order": [[4, "desc"]]
            });


            function A6dot2Sj() {

                location.href = "/A6dot2/index";

            }



            function Create2() {
                $.ajax({
                    type: 'POST',
                    url: '/Main/CreateFlow',
                    data: { flowname: "A6dot2" },
                    success: function (data) {
                        if (data == "-1") {
                            alert("对不起，你没有权限进行该项提报");
                            return false;
                        } else if (data == "") {
                            return false;

                        } else if (data == null) {
                            return false;
                        }
                        else {
                            location.href = data;
                        }

                    },
                    error: function (data) {
                        alert('error: A6.2 index');
                    }
                });
            }




            var table = $('#example1').DataTable();

            $('#example1 tbody').on('click', 'tr', function () {


                if ($(this).hasClass('info')) {
                    $(this).removeClass('info');
                }
                else {
                    table.$('tr.info').removeClass('info');
                    $(this).addClass('info');
                }


            });

        });



        function showSide(wfe_serial) {
            var wfe = wfe_serial;

            $("#table_show").attr("class", "col-md-8");


            DispalsySide(wfe);


        }


        //$("#mm").click(function()
        //{ $("#mm").after( "<li><a href=\"javascript:void(0);\" onclick=\"$('#runtime').attr('src', '" +"/StateMonitor/ProblemClassification');\"> <i class=\"fa fa-user\"></i> <span>状态监测及三检特护问题分类</span>  </a></li>")})
        function re_table() {
            //  alert("刷新表格");
            var table = $("#example1").DataTable();
           table.ajax.url("/Main/ListMission_zxh").load();
        }

        function Create1() {
            $.ajax({
                type: 'POST',
                url: '/Main/CreateFlow',
                data: { flowname: "A7dot1dot1" },
                success: function (data) {
                    if (data == "-1") {
                        alert("对不起，你没有权限进行该项提报");
                        return false;
                    } else if (data == "") {
                        return false;

                    } else if (data == null) {
                        return false;
                    }
                    else {
                        location.href = data;
                    }

                },
                error: function (data) {
                    alert('error: A7.1 index');
                }
            });
        }


    </script>





}
























@*<button onclick="Treeinit()">qqq</button>
    <div id="treeview1"></div>
    @section js{
        <!-- Page script -->
        <link href="~/Plugins/AdminLTE/plugins/bootstrap-treeview/bootstrap-treeview.min.css" rel="stylesheet" />
        <script src="~/Plugins/AdminLTE/plugins/bootstrap-treeview/bootstrap-treeview.min.js"></script>

        <script type="text/javascript">

            var defaultData = [{
                text: '财务部',

                selectable: false, //设置此节点不可选，这是父节点，财务部
                nodes: [{
                    text: '张三'
                }, {
                    text: '李四'
                }]
            },


                         {
                             text: '会计部',
                             selectable: false, //设置此节点不可选，这是父节点，会计部
                             nodes: [{
                                 text: '王五'
                             }, {
                                 text: '赵六'
                             }]
                         },

                         {
                             text: '工程部',
                             selectable: false,//设置此节点不可选，这是父节点，工程部
                             nodes: [{
                                 text: '孙七'
                             }, {
                                 text: '周八'
                             }]
                         }

            ];


            // $('#tree').treeview({ data: getTree() });
            $(document).ready(function () {
                $('#treeview1').treeview({ data: defaultData })
            });
            $("h2").click(function () {
                $("h2").append(" <b>Appended text</b>.");
                $("#treeview1").treeview({ data: defaultData });

                $("h2").append(" <b>Appended text</b>.");

            });
            function Treeinit() {

                $('#treeview1').treeview({
                    data: defaultData,

                });
            }

        </script>
    }*@
