
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>chaoshi</title>
</head>
<body>
    <div> 
        <h3>系统超时，请安全退出后再登陆！</h3>
    </div>
</body>
</html>
