@model List<EquipModel.Entities.Person_Info>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_LayoutMain.cshtml";
    }

    <section class="content" style="background-color: #ecf0f5;">
        <div class="box box-primary">
            <div class="box-header with-border bg-gray">
                <h3 class="box-title" style="font: medium bold; font-family:SimHei;color:red">用户管理</h3>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-xs-2">
                        <a id="Add" class="btn btn-block btn-social btn-info" onclick="JavaScript: location.href='/UserManager/AddUser'">
                            <i class="fa fa-pencil-square-o"></i>添加用户
                        </a>
                    </div>


                    <div class="col-xs-2">
                        <a id="Modify" class="btn btn-block btn-social btn-info">
                            <i class="fa fa-pencil"></i>   修改用户
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a id="Delete" class="btn btn-block btn-social btn-danger">
                            <i class="fa fa-times"></i>    删除用户
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-header">
                <p class="box-title" style="font:bold; color:red">用户信息列表</p>
                @*                <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>*@
            </div>


            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <div class="row">
                    <div class="col-xs-12">
                        <table id="example1" class="table table-hover table-bordered">
                            <thead>
                                <tr>

                                    <th>用户姓名</th>

                                    <th>Email</th>
                                    <th>电话</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>@item.Person_Name</td>
                                        <td>@item.Person_mail</td>
                                        <td>@item.Person_tel</td>

                                        <td><button onclick="JavaScript: location.href='/UserManager/UpdateUser/?userId=@item.Person_Id'">修改信息</button></td>
                                        <td><button onclick="DeletePerson(@item.Person_Id)">删除信息</button></td>
</tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </section>

    @section js{
        <!-- Page script -->
        <link href="~/Plugins/AdminLTE/plugins/bootstrap-treeview/bootstrap-treeview.min.css" rel="stylesheet" />
        <script src="~/Plugins/AdminLTE/plugins/bootstrap-treeview/bootstrap-treeview.min.js"></script>
        <script type="text/javascript">





            //确认部门的选择
            function DeletePerson(UserId)
            {  alert(UserId);
                $.ajax({
                    type: 'POST',
                    url: '/UserManager/submitDeleteUser',
                    data: { "userId": UserId },
                    success: function (defaultData) {
                        alert("该用户信息成功删除！");
                        location.href("/UserManager/Index");
                    },
                    error: function () {
                        alert('error');
                    }
                });

            }
    </script>
        }