
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body onload="myfunction()">
    <div>
        
    </div>
</body>
</html>

<script>

    function myfunction() {
        location.href = "/files/武汉石化设备管理组织结构2016.pdf";
    }
    
</script>
    